	* {
		font-family: 'PT Sans', Helvetica, Arial, sans-serif;
		line-height: 21px;
	}

	h1 {
	    font-family: 'Arvo', Georgia, Times, serif;
	    font-size: 59px;
	    line-height: 70px;
	}	

	h2 {
	    font-family: 'Arvo', Georgia, Times, serif;
	    font-size: 24px;
	    line-height: 20px;
	}	

	h3, .model-name {
	    font-family: 'Arvo', Georgia, Times, serif;
	    font-size: 19px;
	    line-height: 10px;
	}	

	p {
	    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
	    font-size: 16px;
	    line-height: 21px;
		text-align: justify;
	    text-justify: inter-word;
	}

	a {
		text-decoration: underline;
		color: #b24926;
	}

	a:hover {
		color:#333;
		text-decoration: none;
		cursor: pointer;
	}

	nav {
	  mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
	  margin-left: auto;
	    margin-right: auto;
	    margin-top: -22px;
	    width: 100%;
	    background-image: url("images/nav-background.jpg");
	    background-size: 100% 100%;
	    background-repeat: no-repeat;
	}

	nav ul {
	  text-align: center;
	  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
	  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
	}

	nav ul li {
	  display: inline-block;
	}

	nav ul li a {
	  padding: 20px;
	  font-family: "Roboto";
	  color: rgba(0, 0, 0, 0.5);
	  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.4);
	  font-size: 25px;
	  text-decoration: none;
	  display: block;
	}

	nav ul li a:hover {
	  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
	  background: rgba(255, 255, 255, 0.1);
	  color: rgba(0, 0, 0, 0.7);
	}

	.border-dark-gray {
		border: 1px solid #cccccc;
	}

	.border-dark-gray img {
    border: 4px solid #fff;
	}

	/*blockquote:before {*/
	.quote {
	    color: #c4bda2;
	    content: open-quote;
	    font-size: 4em;
	    line-height: 0.1em;
	    margin-right: 0.15em;
	    vertical-align: -0.4em;
	    font-family: "Georgia,​Cambria"
	}
	
	.quote-body {
	  font-family: "Times New Roman";
		font-size: 14px;
		margin: 0px;
		font-style: italic;
		line-height: 18px;
	}

	.quote-source {
		padding-top:6px;
		text-align:end;
		font-size:14px;
	}

/***	NetLogo Models Page 	***/
	#modelsPage a {
		text-decoration: none;
		color:#333;
	}

  #top-menu {
      /*position: fixed;*/
      z-index: 1;
      background: white;
      left: 0;
      right: 0;
      top: 0;
      list-style: none;
      padding-left:11%;
      margin-top:0px;
  }

  #top-menu li {
      float: left;
  }

  #top-menu a {
      display: block;
      padding: 5px 23px 7px 23px;
      width: 4em;
      text-align: center;
      -webkit-transition: .5s all ease-out;
      -moz-transition: .5s all ease-out;
      transition: .5s all ease-out;
      border-top: 3px solid white;
      color: #aaa;
      text-decoration: none;
  }

  #top-menu a:hover {
      color: #000;
  }

  #top-menu li.active a {
      border-top: 3px solid #333;
      color: #333;
  }

  .model-image {
    padding-left: 15px;
  }

  .model-container {
    display: flex;
    align-content: space-between;
    width: 82%;
  }

  .model-image {
    order:1
  }

  .model-name {
    margin-top:0px;
  }

  .model-description {
    diplay:item;
    order:2;
    padding-left:16px;
  }

  .model-page {
  	font-size:11px;
  	font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  }

  .model-download-link{
  	font-size:15px; 
  	vertical-align: text-bottom;
  	color: #b24926;
  	background: url('images/download-orange.png');
		background-size: 20px;
		background-repeat: no-repeat;
		background-position: 0px 0px;
		padding-left: 22px;
		padding-top: 3px;
  }

  .model-download-link:hover {
  	color: #333;
  	background: url('images/download.png');
		background-size: 20px;
		background-repeat: no-repeat;
		background-position: 0px 0px;
		padding-top: 3px;
  }
